/* RESET */
*
{
    margin: 0;
    box-sizing: border-box;
}

/* General Classes */
html,
body
{
    display: grid;
    place-items: center;
    color: white;
}

body
{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.container
{
    /* max-width: 800px; */
    max-width: min(90%, 800px);
    /* min-width: 300px; */
    width: 100%;
    padding: 1rem;
}

.z-1
{
    z-index: 1;
}

.z-2
{
    z-index: 2;
}

.m-auto
{
    margin: auto;
}

.mx-auto
{
    margin-inline: auto;
}

.mx-1
{
    margin-inline: 5rem;
}

.rounded
{
    border-radius: 1rem;
}

/* Modal styles */
:modal
{
    border: 3px solid red;
    /* background-color: blue; */
}

dialog::backdrop
{
    background-color: rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------------------------------------------------- */
.bg-image
{
    position: absolute;
    inset: 0;
    height: 100%;
    /* https: //br.pinterest.com/pin/Adx1N5gGCOdCC_Ka3JA_P_Nsox4IfVTXPtn2tohzrREi3r1z-hy4n8c/ FROM wall.alphacoders.com */
    background-image: url('./img/large-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -webkit-box-shadow: inset 0px 0px 12px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 32px 18px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 32px 18px rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.game-area-bg
{
    background-color: #493e3c;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
    border: 3px solid #aa997d;
    /* * only make table shape for larger screens  */
    /* border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    max-height: 100vh;
    max-width: 100vh; */
}

#game-table
{
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: minmax(min-content, 1fr) minmax(min-content, 1fr); */
    padding: 1rem 2.25rem;
}

#dealer-area,
#players-area
{
    display: grid;
    gap: 1rem;
    flex-grow: 1;
}

.cards-area
{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.card
{
    position: relative;
    aspect-ratio: 2.5 / 3.5;
    height: 125px;
    /* max-height: 300px; */
    /* max-width: 150px;
    min-height: 125px; */

    /* width: 60px; */
    /* flex: 1; */

    /* margin-inline: -1.5rem; */
    /* rotate: 10deg; */
}

@media (min-width: 600px)
{
    .card
    {
        height: 200px;
    }
}

.card-back,
.card-front
{
    transition: rotate ease-in-out 750ms;
    border: 1px solid crimson;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
}

.card-back
{

    background-image: url('https://i.pinimg.com/564x/8f/38/a5/8f38a564428fd1d2b609f59dffbf8489.jpg');
    background-size: contain;
    background-blend-mode: difference;
    background-color: white;
}

.card-front
{
    rotate: y 180deg;
    background-color: white;
    color: black;
}

.card img
{
    max-width: 100%;
}

.flip-to-front .card-back
{
    rotate: y -180deg;
}

.flip-to-front .card-front
{
    /* rotate: y 360deg; */
    rotate: y 0deg;
}